<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <!-- <div class="half-white"></div> -->
    <div class="logo-div">
        <img class="logo" src="/images/eureka_logo.png" alt="">
    </div>
    <div class="main-login">
        <form class="login-form" action="/login" method="POST">
            <input class="login-email" id="emailField" type="email" name="email" placeholder="email" required>
            <input class="login-passwd" id="passwordField" type="password" name="password" placeholder="password" required>
            <button class="login-btn not-loading" type="submit" onclick="enableAnimation()" >
                <div> Login </div><div class="login-icon-div">
                    <img class="login-icon" src="/images/login.svg" alt="">
                </div>
            </button>
            <button class="login-btn loading" type="submit" style="display: none;">
                <div> Login </div><div class="login-icon-div">
                    <img class="login-icon-spinner" src="/images/spinner.svg" alt="">
                </div>
            </button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </div>
    <script>
        function enableAnimation()
        {
            const isValidEmail = emailField.checkValidity();
            const isValidPass =  passwordField.checkValidity();
            if(isValidEmail && isValidPass)
            {
                document.querySelector(".not-loading").style.display = "none";
                document.querySelector(".loading").style.display = "flex"; 
            }
        }
    </script>
</body>
</html>