
<head>
    <link rel="stylesheet" href="/css/spinner.css">
</head>
    <!-- <div class="spinner-background" id="spinner" style="display: none;">
        <div class="spinner">
            <img src="/images/eureka_logo.png" alt="">
        </div>
    </div> -->
    <div class="spinner-div">
        <div id="spinner">
            <h1 data-content="ureka"><img src="/images/eureka_logo.png" alt="">ureka</h1>
        </div>
    </div>
    <script>
        function spinner(){
            document.getElementById("screen").style.display="none";
            document.querySelector(".spinner-div").style.display="block";
        }
    </script>