<%- include('../../includes/header.ejs') %>
<link rel="stylesheet" href="/css/changePassword.css">
<link rel="stylesheet" href="/css/ripple.css">
</head>

<body>
    <header>
        <div class="img-forg"></div>
        <img src="/images/analytics-back.svg" class="back-img">
        <img src="<%= curr_avatar %>" class="avatar">
        <h3 class="name">Piyush Jain</h3>
        <h3 class="email">Piyushjain964349@gmail.com</h3>
        <a href="/settings"><img class="left-arrow" src="/images/left-arrow.svg"></a>
    </header>
    <main class="changePassword">
        <form action="/settings/changePassword" method="POST">
            <input type="password" name="oldPassword" id="oldPassword" required placeholder="Old Password">
            <input type="password" name="newPassword" id="newPassword" required placeholder="New Password">
            <button type="submit" class="changePassword__btn ripple">Change</button>
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
        </form>
    </main>
    <%- include('../../includes/footer.ejs') %>