<%- include('../../includes/header.ejs') %>
</head>
<body>
<main>
    <form action="/settings/changePassword" method="POST">
        <label for="oldPassword">Old Password</label>
        <input type="password" name="oldPassword" id="oldPassword">
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword">
        <button type="submit">Change</button>
        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
    </form>
</main>
<%- include('../../includes/footer.ejs') %>