@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif !important;
    margin: 0px;
    outline: none !important;
}

.img-forg{
    z-index: 2;
    width: 100vw;
    height: 30vh;
    position: absolute;
    background: rgba(102, 94, 255, 0.8);
    top: 0px;
} 

.back-img{
    height: 30vh;
    width: 100vw;
    object-fit: cover;
    z-index: 1;
    position: relative;
    top: 0px;
}

.avatar{
    position: absolute;
    width: 18vw;
    top: calc(10px + 4vh);
    height: 10vh;
    z-index: 3;
    left: 10px;
    background: white;
    border-radius: 15px;
}

.name,.email{
    font-size: 15px;
    color: white;
    position: absolute;
    top: 0px;
    z-index: 3;
}

.name{
    margin-top: 16vh;
    margin-left: 4vw;
}

.email{
    margin-top: 20vh;
    margin-left: 4vw;
}

.left-arrow{
    position: absolute;
    top: 15px;
    right:15px;
    height: 9vw;
    width: 9vw;
    z-index: 5;
    transition:0.3s;
}

.left-arrow:active{
    height: 11vw;
    width: 11vw;
}

.changeName{
    font-size: 16px;
    font-weight: bold;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.26);
    margin: 0px 10px;
    margin-top: 40px;
    border-radius: 25px;
    border: 8px solid rgba(112,112,112,0); 
    padding-top: 10px;
    padding-bottom: 10px;
}

input{
    font-size: 15px;
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    box-shadow: 0 0px 8px rgba(0,0,0,0.17);
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    color: #454f63;
    outline: none;
    border: none;
}

::placeholder{
   opacity: 0.6; 
}

.changeName__btn{
    font-size: 15px;
    display: block;
    margin: 0px auto;
    margin-top: 12px;
    color: white;
    background: rgba(102, 94, 255, 0.8);;
    border: none;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}