<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/teacher/classReviews.css">
</head>
<body>
    <div class="top">
            <img onclick="window.history.back()" src="/images/left-arrow.svg" class="left-arrow" alt="">
            <h3>Reviews</h3>
    </div>
    <div class="reviews" >
        <% for(let review of reviews) {%>
            <div class="review">
                    <b><%= review.studentName %></b> wrote <%= review.review %> 
            </div>
        <%}%>
    </div>
</body>
</html>