<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/teacher/courseStudents.css">
    <link rel="stylesheet" href="/css/ripple.css">
</head>
<body>
    <div class="top">
            <img onclick="window.history.back()" src="/images/left-arrow.svg" class="left-arrow" alt="">
            <h3>course students</h3>
    </div>
    <!-- <div class="add-student">
        <form action="/addCourseStudent" method="POST">
            <input type="email" placeholder="student email" name="studentEmail" class="student-email" required id="">
            <button>+</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </div> -->
    <div class="students" style="margin-top:5vh;">
        <div class="student ripple">
            <div class="course-avatar">
                <img src="/images/test-avatar.svg" alt="">
            </div>
            <h3>Shubhank Khare</h3>
        </div>
        <div class="student ripple">
                <div class="course-avatar">
                    <img src="/images/test-avatar.svg" alt="">
                </div>
                <h3>Triyambhkesh ram tripathi</h3>
        </div>
        <div class="student ripple">
                <div class="course-avatar">
                    <img src="/images/test-avatar.svg" alt="">
                </div>
                <h3>Shubhank Khare</h3>
        </div>
    </div>
</body>
</html>