<!-- 
    This page is for testing only
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start Quiz</title>
</head>
<body>
    <form action="/teacher/startQuiz/<%= quizId %>" method="post">
        <button type"submit"> Start </button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
</body>
</html>