<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/ripple.css">
<link rel="stylesheet" href="/css/analytics.css">
</head>

<body>
    <header>
        <div class="img-forg"></div>
        <img src="/images/analytics-back.svg" class="back-img">
        <img src="<%= curr_avatar %>" class="avatar">
        <h3 class="name">Piyush Jain</h3>
        <h3 class="email">Piyushjain964349@gmail.com</h3>
        <a href="/course/1"><img class="left-arrow" src="/images/left-arrow.svg"></a>
    </header>
    <main>
        <section class="analytics ripple">
            <h1>Quiz
                <hr>
            </h1>
            <h3 class="analytics_info">Average Quiz Score <span class="scores">30.55</span>
                <hr>
            </h3>
            <h3 class="analytics_info">No. Of Quiz Attempted <span class="scores">28 of 30</span>
                <hr>
            </h3>
            <h1>Poll
                <hr>
            </h1>
            <h3 class="analytics_info">No. Of Poll Attempted <span class="scores">0 of 30</span>
                <hr>
            </h3>
        </section>
    </main>
    <%- include('../includes/footer.ejs') %>